
.h1{
    font-family: "Monsterrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color:white;
}
.container-fluid{
    padding:3% 15%;
}
body{
    font-family: "Monsterrat-Black";
}
/* navigation */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family:ubuntu;
    font-size:2rem;
    font-weight: bold;
}
.nav-link{
    font-size:1.4rem;
}
.b{
    margin:15px;
}

.flip-card {
    background-color: #fff;
    width: 300px;
    height: 490px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 4px 2px #33333333;
    box-shadow: 3px 3px 4px 2px #33333333;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-color: #fdf4d4fd;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    background-color: #f8f1dcfd;
    border-radius: 6px;
}

/* Style the back side */
.flip-card-back {
    color: #7c5a2d;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: .9rem;
    padding: .5rem;
}

.front-text {
    padding: 6% 0 4%;
    border-radius: 20px;
    margin: 0 .5rem;
}

.flip-card-img {
    width: 90%;
}

.main__logo-container___3uyPh {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .flip-card {
        margin-left: 40px;
        margin-right: 40px;
    }
}

#rolemodel-section {
    font-weight: 700;
    color: #2B1C63;
    padding: 40px 0px 0px 50px;
    font-size: 46px;

}

.rolemodels-img {
    width: 80%;
}

.rolemodels-info {
    text-align: left;
    font-size: 1.2rem;
    font-style: italic;
    color: #5e5d5d;
}
.rolemodel-p{
    font-family:"Monsterrat-Black";
    font-size:1.3rem;
}
.u-p{
    font-family:"Monsterrat-Black";
    font-size:1.3rem;
    padding-top:50px;
}
#footer{
    padding:7% 15%;
    text-align:center;
}
.pic{
    width:20%;
    height:30%;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  